<!-- <p id="notice"><%= notice %></p> -->

<h1>Carts</h1>

<!-- <table cellpadding="pixels"cellspacing="pixels"> -->
<table width="120%", style="font-size:15px;line-height:19px;">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Item name</th>
      <th>Quantity</th>
      <th>Price Per Item</th>
      <th>Total Price</th>
      <th>Discount</th>
      <th>Final Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<!-- To show price of each product, it's quantity, discount, and total amount here -->
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= "#{current_user.first_name}  #{current_user.last_name}" %></td>
        <td><%= cart.product.name %></td>
        <td><%= cart.quantity %></td>
        <td><%= cart.product.price %></td>
        <td><%= totalPrice = cart.product.price * cart.product.quantity %></td>
        <td><%= cart.product.discount %></td>
        <td><%= total = totalPrice - cart.product.discount %></td>
        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- <%# if @carts.len %> -->
<%= link_to 'Checkout', new_order_path(cart: @cart) %>
<br>
<%= link_to 'New Cart', new_cart_path %>

<%= link_to 'Back', root_path %>
