<!--<p id="notice"><%= notice %></p>-->

<h1>Products</h1>
<a href="#" onclick="this.style.backgroundColor='#990000'">Paint it red</a>

<a href="#" onclick="this.style.backgroundColor='#009900';this.style.color='#FFFFFF';">Paint it green</a>

<br>
<a href="#" onclick="paintIt(this, '#990000')">Paint it red</a>

<table width="120%", style="font-size:15px;line-height:19px;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <!-- <th>Cost</th> -->
      <th>Discount</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <%# if policy(@product).index? %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.quantity %></td>
          <td><%= product.price %></td>
          <td><%= product.discount %></td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          <%= form_tag({controller: "carts", action: "create"}, method: "post") do %>
              <td><%= number_field_tag(:quantity) %></td>
              <td><%= hidden_field_tag 'product_id', product.id  %></td>
              <td><%= submit_tag("Add to Cart") %></td>
          <% end %>

        </tr>
      <%# end %>
      <!-- , add_to_cart_path(:product_id => product.id , :quantity => "quantity[{:value=>1}]")-->
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Product', new_product_path %>
<br>
<%= link_to 'Show Cart', carts_path %>
<br>
<%# if policy(:product).update? %>
<% if policy(:product).user_logged_in? %>
<%# if user_signed_in? %>

  <% if policy(:product).update? %>
  <table width="120%", style="font-size:15px;line-height:19px;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Cost</th>
        <th>Discount</th>
        <th>Flag</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @falseproducts.each do |product| %>
      <% if policy(:product).edit? %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.quantity %></td>
            <td><%= product.price %></td>
            <td><%= product.cost %></td>
            <td><%= product.discount %></td>
            <td><%= product.flag %></td>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Add to Cart', add_to_cart_path(:product_id => product.id) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
    <%= link_to "Edit post", carts_path %>
    <% end %>
<% end %>
